.input-label-with-tt {
    margin: 5px;
    font-weight: bold;
}
#disease_site {
    margin-top: 1%;
}
#year{
    margin-left: 5px;
}
#gender{
    margin-left: 5px;
}
#race_ethnicity{
    margin-left: 5px;
}
#appimage {
    position: fixed;
    bottom: 30px;
    margin-left:15px;
}
#case_report_bttn {
    margin-left:20%;
}

.marginright {
    margin-right: 50%;
}
.shiny-input-container:first-of-type {
    margin-top:10%;
}
.tabDescription {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}
.menutopspacing {
    margin-top: 20%;
}
.topspacing {
    margin-top: 1%;
}

#controlbar_content {
    color:white;
}